html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{background: transparent !important;}
.desktop-content {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
.desktop-content .main-desktop-block {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 20px;
}
.dropdown-toggle::after {
    width: 8px;
    height: 9px;
    right: -5px;
}
.main-desktop-block .share-data a {white-space: inherit;}
.deskfot .text-center{margin-top: 6px;}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.desktop-content .main-desktop-block{
        width: 80% !important;
    }
    .tabs-contn2 .video {
        border: 10px solid #575654;
        background: #7f7e7c;
        margin: 10px 15px 0;
    }